
@{
    ViewData["Title"] = "Address";
}

<h1>Address</h1>

<select id="sel_city">
</select>
<select id="sel_distinct">
</select>
<select id="sel_road">
</select>

@section Scripts{
    <script>
        const xhr = new XMLHttpRequest();
        const xhr1 = new XMLHttpRequest();
        const selcity = document.querySelector("#sel_city");
        const seldistinct = document.querySelector("#sel_distinct");
        const selroad = document.querySelector("#sel_road");

        //====載入城市===========
        xhr.addEventListener("load", () => {
            const datas = JSON.parse(xhr.responseText)
            datas.forEach(city => {
                var opt = new Option(city, city);
                selcity.options.add(opt);
            })
        })

        xhr.open("GET",'@Url.Content("~/Api/City")')
        xhr.send()
    </script>

}
@section Styles{

}