
@{
    ViewData["Title"] = "Promise";
}

<h1>Promise</h1>

@section Scripts{
    <script>

        function printSomething(data) {
            let promise = new Promise(function (resolve, reject) {
                setTimeout(() => {
                    resolve(data)
                },1000)
            });
            return promise;
        }

        printSomething("A")
            .then((data) => {   
                console.log(data)
                return printSomething("B");
            })
            .then((data) => {
                console.log(data)
                return printSomething("C");
            })
            .then((data) => {
                console.log(data)
            })

    </script>

}


@section Styles{

}